# Ignore raw data
**/raw/

# Ignore python artifacts
__pycache__/
*.pyc
venv/
.env
.env.backup

# Ignore postgres data
**/postgres_data/
**/postgres.log
**/postgres.pid

# Ignore neo4j data
**/neo4j.log
**/neo4j.pid

# System
.DS_Store
